extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-5.font-extrabold.text-center Bienes 
            span.font-normal Raíces
        h2.text-center.text-2xl.font-extrabold=title

        a(href="/propiedades/crear" class="rounded py-2 px-10 bg-lime-300 hover:bg-lime-500 text-sm font-bold text-center text-zinc-900 uppercase my-5 inline-block w-full sm:w-auto") Crear propiedad

        //- pre= JSON.stringify(propiedades,undefined, 2)

        if propiedades.length 
            div(class="bg-white shadow rounded-lg")
                ul(class="divide-y divide-gray-200")
                    each propiedad in propiedades 
                        li
                            div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4")
                                div(class="sm:w-1/4 md:w=1/6")
                                    img(src=`uploads/${propiedad.image}`, alt =`Imagen propiedad ${propiedad.titulo}` class='w-full block')
                                div(class="sm:w-2/4 md:w=3/6 lg:w-4/6") 
                                    a(class="block text-2xl font-extrabold text-lime-500 truncate" href="#")=propiedad.titulo 
                                div(class="sm:w-1/4 md:w=2/6 lg:w-1/6") 
        else
            p.text-center No hay propiedades