extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content = csrfToken)

block contenido
    div.py-10
        h1.text-4xl.my-5.font-extrabold.text-center Bienes 
            span.font-normal Raíces
        h2.text-center.text-2xl.font-extrabold=title

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-4 md:px-10")
            form.space-y-4(id="imagen" class="dropzone border-dashed border-2 w-full min:h-96 h-auto flex-col justify-center items-center" method="POST" action=`/propiedades/agregar-imagen/${propiedad.id}`)
                input(type="hidden" name="_csrf" value=csrfToken)
                //- div(class='space-y-4')
              
            button(id="publicar" type= "button" class="mt-5 w-full py-3 bg-lime-400 rounded-md hover:bg-lime-600 text-zinc-900 font-bold uppercase cursor-pointer") Publicar propiedad

block scripts
    script(src="/js/agregarImagen.js")

