header.px-10
    .container.mx-auto.flex.justify-between.items-center
        a(href="/") 
            h1.text-2xl.text-zing-900.font-extrabold.text-center Bienes 
                span.font-normal Raíces
        nav(class='my-5 text-sm md:flex md: items-center font-bold text-zinc-900 hidden')
            ul.flex.items-center.gap-8
                    a(href="" class="text-zinc-900 hover:text-lime-700 gap-4") Mis Propiedades
                    a(href="" class="text-zinc-900 hover:text-lime-700") Mi perfil
                    a(href="" class="text-zinc-900 hover:text-lime-700") Blog
                    a(href="" class="text-zinc-900 hover:text-white hover:bg-lime-600 bg-lime-400 py-2 px-10 rounded-md " ) Cerrar Sesión