header.px-10
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-zing-900.font-extrabold.text-center Bienes 
            span.font-normal Raíces
        nav(class='my-5 text-sm md:flex md:items-center font-bold text-zinc-900 hidden')
            ul.flex.items-center.gap-8.justify-between
                    a(href="/auth/registro" class="text-zinc-900 hover:text-lime-600 gap-4") Crear cuenta
                    a(href="/auth/login" class="text-zinc-900 hover:text-white hover:bg-lime-600 bg-lime-400 py-2 px-10 rounded-md " ) Iniciar Sesión
div(class="bg-lime-500 p-5 hidden lg:block ")
    div(class="container mx-auto flex justify-between")
        a(href="/categorias/1" class="text-sm font-bold uppercase text-zinc-900 ") Casas
        a(href="/categorias/2" class="text-sm font-bold uppercase text-zinc-900 ") Departamentos
        a(href="/categorias/3" class="text-sm font-bold uppercase text-zinc-900 ") Bodegas 
        a(href="/categorias/4" class="text-sm font-bold uppercase text-zinc-900 ") Terrenos
        a(href="/categorias/5" class="text-sm font-bold uppercase text-zinc-900 ") Cabañas